out
node_modules
.vscode-test/
*.vsix
yarn.lock
*.log
.gradle/
.DS_Store
.test
dist
server

# prevents updating maven indexer files
resources/IndexData/index/*.cfe
resources/IndexData/index/*.cfs
resources/IndexData/index/*.si
resources/IndexData/index/segments*

.vs/*

*.jar
*.tgz