.vscode/**
.vscode-test/**
dist/**/*.map
src/**
images/**
.gitignore
tsconfig.json
TestPlan.md
.github/**
.travis.yml
webpack.*.js
node_modules
out/**
test/**
extension.bundle.ts
javaConfig.json
gulpfile.js
jdtls.ext/**
!jdtls.ext/com.microsoft.java.maven.plugin/target/com.microsoft.java.maven.plugin-*.jar
.azure-pipelines
scripts