trigger: none
pr: none

schedules:
- cron: "0 3 * * *"
  displayName: Daily 3am build
  branches:
    include:
    - main

pool:
  vmImage: 'ubuntu-latest'
steps:
- task: Npm@1
  displayName: 'npm install'
  inputs:
    verbose: false
- task: Npm@1
  displayName: 'npm run tslint'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run tslint'
- task: Npm@1
  displayName: 'npm run compile'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run compile'
- task: JavaToolInstaller@0
  displayName: 'Use Java 17'
  inputs:
    versionSpec: 17
    jdkArchitectureOption: x64
    jdkSourceOption: PreInstalled
- task: Npm@1
  displayName: 'npm run build-plugin'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run build-plugin'
- bash: |
    npx json@latest -I -f package.json -e "this.aiKey=\"$(AI_KEY)\""
  displayName: Replace AI Key
- bash: |
    npx json@latest -I -f package.json -e "this.version=this.version.substring(0, this.version.lastIndexOf('.'))+\".$(date -u +'%Y%m%d%H')\""
  displayName: Update patch version in package.json
- script: 'npx @vscode/vsce@latest package --pre-release'
  displayName: 'package vsix'
- task: CopyFiles@2
  displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
  inputs:
    Contents: '*.vsix'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
